* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    background-image: url('https://c.wallhere.com/photos/02/0c/1920x1080_px_albert_board_chalk_Einstein_Math_physics-1629319.jpg!d');
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

input, select, button {
    margin: 10px 0;
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#regresar1 {
    position: fixed;
    bottom: 10px; 
    left: 10px; 


}
button {
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}
